// Base


body {
	font-family: $font-family-base;
	font-size: $font-size;
}

.container{
	padding: $sp;
	position: relative;
}

a{
	color: $color-link;
	text-decoration: none;
	&:hover{
		color: darken($color-link, 30%);
		text-decoration: underline;
	}
}

.wrapper{
	display: flex;
	flex-direction: row;
 
	a.thumb{
		display: flex-item;
		position: relative;
		width: 50%;
		height: 90px;
		overflow: hidden;
		text-align: center;
		margin: $sp;
		img{
			height: auto;
		}

		.overlay{
			position: absolute;
			background-color: transparentize($color-bg, .3);
			bottom: 0;
			left: 0;
			right: 0;
			padding: 9px;
			font-weight: 700;
			color: $color-fg;
			text-align: center;
			text-transform: uppercase;
		}
	}
}

