// Responsive 


@media (min-device-width: $bp-tablet-min) and (max-device-width: $bp-tablet-max){
	.container:before{
		content: "Entre 321 y 768 pixeles";
		color: green;
	}

	p{
		max-width: 320px;
		margin: 0 auto;

	}

}

@media (min-device-width: $bp-tablet-max + 1) and (max-device-width: $bp-desktop-min - 1){
	.container:before{
		content: "Entre 769 y 1024 pixeles";
		color: blue;
		
	}

	p{
		display: inline-block;
		width: 320px;
		margin-right: 1em;
		vertical-align: top;
	}

	p:last-child{
		margin-right: 0;
	}

}

@media (min-device-width: $bp-desktop-min){
	.container:before{
		content: "Más de 1025 pixeles";
		color: pink;
	}

	p > img{
		float: right;
		width: auto;
		height: auto;
		margin: 1em 0 1em 1em;
	}

	p{
		display: inline-block;
		width: 420px;
		margin-right: 1em;
		vertical-align: top;
	}

	p:first-letter{
	color: red;
    font-size: 2.7em;
    font-weight: bolder;
    float: left;
    margin: 0.25em .1em 0 .1em;
}

}
