// Responsive 


@media (min-device-width: $bp-tablet-min) and (max-device-width: $bp-tablet-max){
	a.thumb{
		height: 200px !important;
	}
}


@media (min-device-width: $bp-tablet-max + 1) and (max-device-width: $bp-desktop-min - 1){
	a.thumb{
		height: 250px !important;
	}
}

@media (min-device-width: $bp-desktop-min){
	a.thumb{
		height: 300px !important;
	}
}
