// Variables


// Font
@import url('https://fonts.googleapis.com/css?family=Lato:200');
$font-size:				16px;
$font-family-base:		Lato, sans-serif;

// Colors
$color-bg:		#F7F7F7;
$color-fg:		#180020;
$color-link:	#2E90FC;

// Break Points
$bp-tablet-min:	321px;
$bp-tablet-max: 768px;
$bp-desktop-min:	1025px;
