// Variables


// Font
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
$font-size:				16px;
$font-family-base:		Raleway, sans-serif;

// Colors
$color-bg:		#F7F7F7;
$color-fg:		#180020;
$color-link:	#2E90FC;

// Break Points
$bp-mobile-max:		320px;
$bp-tablet-min:		$bp-mobile-max + 1;
$bp-tablet-max: 	768px;
$bp-desktop-min:	$bp-tablet-max + 1;
$bp-desktop-max:	1280px;

// spacers

$sp: 				20px;