@import url('https://fonts.googleapis.com/css?family=Lato:200');


body {
	font-family: Lato, sans-serif;
	font-size: 32px;
}

.container{
	width: 80%;
	margin: 1em auto;
	position: relative;
}


p{
	// background-color: #E5E2C2;
	/* padding: 1em;
	text-align: justify; */
}

img{
	float: right; 
	margin:  1em 0 1em 1em;
}


.block{
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	mix-blend-mode: screen;
	transition: all 1s ease;
	text-align: center;
}

.block:hover{
	width: 250px;
	height: 250px;
}

.block > span{
	display: block;
	margin: 1em;
}

.block:nth-child(3){
	left: 0;
	background-color: #FF0000;
	
}
.block:nth-child(4){
	left: 30;
	bottom: -300;
	background-color: #00FF00;
}
.block:nth-child(5){
	left: 60;
	background-color: #0000FF;
}
